{% extends "layouts/base.html" %}
{% load static %}
 
{% block title %} This is the list of books page {% endblock title %}
 
{% block content %}
    <a href="{% url 'books.view_one_book' bookId=123 %}">
        <h2>Internet & World Wide Web How to Program</h2>
    </a>
    <a href="{% url 'books.view_one_book' bookId=123 %}">
        <img src="{% static 'book1.jpg' %}" alt="Book1 img desc" width="200" height="200">
    </a>
    <hr>

    <a href="{% url 'books.view_one_book' bookId=456 %}">
        <h2>C++ How to Program, Late Objects Version</h2>
    </a>
    <a href="{% url 'books.view_one_book' bookId=456 %}">
        <img src="{% static 'book2.jpg' %}" alt="Book2 img desc" width="200" height="200">
    </a>
    <hr>

    <h2>3) Images in Another Folder</h2>
    <img src="{% static 'book3.jpg' %}" alt="Book3 img desc" width="200" height="200">
    <hr>
{% endblock content %}


