{% extends "layouts/base2.html" %}

{% block content %}
  <h2> The best Features of the Internet</h2>
  <ul>
    <li>you can meet ppl from countries around the world</li>
    <li>you can access to new media as it become public:
        <ul>
           <li>New games</li> 
           <li>New applications
               <ol>
                    <li>For business</li>
                    <li>For pleasure</li>
               </ol>
           </li> 
           <li>Around the clock news</li> 
           <li>Search engines</li> 
           <li>Shoping</li> 
           <li>Programming
               <ol>
                   <li>XML</li>
                   <li>Java</li>
                   <li>HTML5</li>
                   <li>JavaScripts</li>
                   <li>New langugages</li>
               </ol>
           </li> 

        </ul>
        
    </li>
    <li>Links</li>
    <li>Keeping in touch with old friends</li>
    <li>It's the technology of the future!</li>
  </ul>

{% endblock content %}
