{% extends "layouts/base.html" %} 
{% load static %} 

{% block title %} List of Books Page {% endblock title %} 

{% block stylesheets %}

<style>
    h1 {
        background-color: pink; 
        color: white;
        padding: 15px;
        text-align: center;
        font-size: 2em;
        font-weight: bold;
        margin-top: 0;
        font-family: Times New Roman;
    }

    table {
        width: 20%;
        margin: 20px auto;
        font-size: 1em;
        font-family: Times New Roman;
        text-align: center;
    }

    table, th, td {
        border: 1px solid black;
    }

    th {
        background-color: pink;
        padding: 10px;
        font-weight: bold;
    }

    td {
        padding: 8px;
    }

    caption {
        font-size: 1.2em;
        margin: 10px;
        text-align: center;
        font-weight: bold;
    }
</style>
{% endblock stylesheets %}

{% block content %}

<a href="{% url 'add_book' %}">Add New Book</a>
<br/>

<table>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    {% for book in books %}
    <tr>
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td><a href="{% url 'edit_book2' book.id%}">edit this book</a></td>
        <td><a href="{% url 'delete_book2' book.id%}">delete this book</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}